<section class="main-content" id="main-content">

    <!-- Using a for...of loop, loop through the inventoryArray and display each book -->
    <% for (post of inventoryArray) { %>

        <div class="post-container">

            <a href="/views/pages/posts <%= post._id %>" class="box">
            </a>
            <h4>

                <%= post.name %>
            </h4>
            <br>
            <%= post.rad1 %>
                <%= post.rad2 %>
                    <%= post.date %>
                        <p>
                            <%= post.content %>
                        </p>
                        </a>
        </div>
        <% } %>


</section>