<%- include('../partials/head') -%>

    <%- include('../partials/navbar') -%>

        <div class="post-container">
            <!-- <% for (post of inventoryArray) { %>
                <a href="/posts/<%post._id %>" class=""></a> -->
            <h3>
                <%= signedIn ? name : 'username' %>
            </h3>
            <p class="volunteer">
                <%= user.volunteer %>
            </p>
            <p class="postText">
                <%= post.postText %>
                    <!-- <%= post.synopsis %> ????????? -->
            </p>

        </div>

        <%- include('../partials/footer') -%>