<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>


        <div class="home-container">


            <!-- <div class="map-container"> -->
            <div class="map-container">
                <!-- Using a for...of loop, loop through the inventoryArray and display each book -->
                <% for (post of inventoryArray) { %>

                    <div class="post-container">



                        <a href="/views/pages/posts <%= post._id %>" class="box">
                        </a>
                        <h4>
                            <%= post.name %>
                        </h4>
                        <br>

                        <p>
                            <%= post.content %>
                        </p>
                        </a>
                    </div>
                    <% } %>
            </div>

        </div>



        <%- include('../partials/footer') -%>